<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PomodoroTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PomodoroTimerForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PomodoroTimer.Properties.Settings>
            <setting name="WorkSeconds" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="RestSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RemindSeconds" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="PeriodEndSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PeriodEndStop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Remind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowFlash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalStartKey" serializeAs="String">
                <value>Ins</value>
            </setting>
            <setting name="PeriodEndSoundPath" serializeAs="String">
                <value>lingeringbells.wav</value>
            </setting>
            <setting name="RemindSoundPath" serializeAs="String">
                <value>notify.wav</value>
            </setting>
            <setting name="NotifyIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyIconMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartTimerOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </PomodoroTimer.Properties.Settings>
        <PomodoroTimerForm.Properties.Settings>
            <setting name="WorkSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RestSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RemindSeconds" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="PeriodEndSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PeriodEndStop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Remind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowFlash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalStartKey" serializeAs="String">
                <value>Ins</value>
            </setting>
            <setting name="PeriodEndSoundPath" serializeAs="String">
                <value>lingeringbells.wav</value>
            </setting>
            <setting name="RemindSoundPath" serializeAs="String">
                <value>notify.wav</value>
            </setting>
            <setting name="NotifyIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyIconMinimize" serializeAs="String">
                <value>False</value>
            </setting>
        </PomodoroTimerForm.Properties.Settings>
    </userSettings>
</configuration>